<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35695570798-sfnf25aviq8eq46i5lfsuk2sn4lsbbj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35695570798-sfnf25aviq8eq46i5lfsuk2sn4lsbbj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCc-Ke_cDUxvkxEx_yYk8V4eNtOQbX_6og</string>
	<key>GCM_SENDER_ID</key>
	<string>35695570798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sms</string>
	<key>PROJECT_ID</key>
	<string>society-management-syste-1257d</string>
	<key>STORAGE_BUCKET</key>
	<string>society-management-syste-1257d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35695570798:ios:f1d39be82d9f03e7661b7f</string>
</dict>
</plist>